@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes buttonAnimation {
  0%, 100% {
    background-color: #f0ad4e; /* Lighter orange for start and end */
  }
  50% {
    background-color: #ec971f; /* Darker orange for middle */
  }
}

@keyframes inputFocusAnimation {
  0%, 100% {
    box-shadow: 0 0 8px rgba(255, 193, 7, 0.6); /* Yellow shadow */
  }
  50% {
    box-shadow: 0 0 12px rgba(255, 193, 7, 0.8);
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: 
    url('bg.jpg') center center / cover no-repeat,
    linear-gradient(45deg, #ff6f61, #de68ff, #5cdb95, #3498db);
  background-size: cover, 400% 400%;
  animation: gradientBackground 15s ease infinite;
  color: #ffffff; /* Ensure text color contrasts against background */
}

.lobby-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.lobby-form {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff; /* White text color */
}

.lobby-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

.lobby-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.lobby-form input:focus {
  border-color: #ffc107; /* Yellow border */
  animation: inputFocusAnimation 1s ease-in-out infinite;
}

.lobby-form button {
  width: 100%;
  padding: 12px;
  background-color: #f0ad4e; /* Lighter orange */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s;
  animation: buttonAnimation 2s ease-in-out infinite;
}

.lobby-form button:hover {
  transform: scale(1.05);
}
